In [40]:
import os

In [48]:
DATA_PATH = '/home/asish/Desktop/DATASET'

In [49]:
os.listdir(DATA_PATH)

['broken', 'notbroken']

In [42]:
broken_files = os.listdir(os.path.join(DATA_PATH,'broken'))

In [43]:
broken_files[:5]

['973189.png', '708221.png', '328296.png', '482741.png', '368734.png']

In [68]:
!pip install  scikit-learn

Requirement already satisfied: scikit-learn in ./venv/lib/python3.6/site-packages
Requirement already satisfied: scipy>=0.17.0 in ./venv/lib/python3.6/site-packages (from scikit-learn)
Requirement already satisfied: numpy>=1.11.0 in ./venv/lib/python3.6/site-packages (from scikit-learn)
Requirement already satisfied: joblib>=0.11 in ./venv/lib/python3.6/site-packages (from scikit-learn)

In [67]:
import pandas as pd
# from sklearn.utils import shuffle

ModuleNotFoundError: No module named 'sklearn'

In [45]:
br_df = pd.DataFrame({
    "filename":broken_files,
})

In [52]:
br_df['category'] = 0
br_df

       filename  category
0    973189.png         0
1    708221.png         0
2    328296.png         0
3    482741.png         0
4    368734.png         0
..          ...       ...
816   52280.png         0
817  474651.png         0
818  453289.png         0
819  163050.png         0
820  371068.png         0

[821 rows x 2 columns]

In [50]:
unbroken_files = os.listdir(os.path.join(DATA_PATH,'notbroken'))

un_df = pd.DataFrame({
    "filename":unbroken_files
})

un_df['category'] = 1

In [51]:
un_df

        filename  category
0      76418.png         1
1     589729.png         1
2     245957.png         1
3     295177.png         1
4     847421.png         1
...          ...       ...
1795  308469.png         1
1796  450125.png         1
1797  538998.png         1
1798  863881.png         1
1799  210016.png         1

[1800 rows x 2 columns]

In [69]:
df = pd.concat([br_df,un_df])

In [70]:
df.head()

     filename  category
0  973189.png         0
1  708221.png         0
2  328296.png         0
3  482741.png         0
4  368734.png         0

In [72]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'